
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Montserrat&family=Sacramento&display=swap"rel="stylesheet"/>
<script src="https://kit.fontawesome.com/b699c21610.js" crossorigin="anonymous"></script>


<div class="főkép" id="home">
    <div class="cím">
        <div class="étterem-cím">
         <h1 class="főcím">
            Thai <br/>
            Ételek
            </h1>
        </div>
    </div>
     <a class="fel" href="#"><i class="fa fa-arrow-up"></i></a>
</div>
<div class="offers">
    <div class="cím">
        <h2 class="részlet-cím">Ételeink</h2>
        <div class="four-columns-grid">
            <div class="grid-item"
            >
                <img src="../assets/base.png" class="food" alt="" width="200" />
                <h3 class="alcím">
                <strong>Alapok</strong>
                </h3>
                <p class="paragraph">
                Válasszon rizstésztáink, tojásos tésztáink és még sok másfajta alapjaink közül.
                </p>
            </div> 
            <div>
                <img src="assets/topping.png" class="food" alt="" width="200" />
                <h3 class="alcím">
                <strong>Feltétek</strong> 
                </h3>
                <p class="paragraph">
                Válasszon csirke, sertés, tofu, marha és zöldség mix és még több feltáteink közül.
                </p>
            </div>
            <div>
                <img src="assets/sauce.png" alt="" class="food" width="200" />
                <h3 class="alcím">
                <strong>Szószok</strong>
                </h3>
                <p class="paragraph">
                Tegye ízletesebbé a rendelését ázsiai szószaikkal.
                </p>
            </div>
            <div>
                <img src="assets/soup.png" alt="" class="food" width="200" />
                <h3 class="alcím">
                <strong>Levesek</strong>
                </h3>
                <p class="paragraph">
                Tom Yum/Tom Kha csirkés, rákos vagy zöldséges.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div>
        <p class="about-paragraph">
            Bármennyire is élvezzük a nyugati szemléletű, urbánus pezsgést, egyre többünkben merül fel az igény a keleti kultúrák felöl áramló nyugalomra.
            Fast casual éttermeinkben mindig friss alapanyagainkból te magad állíthatod össze ételed, melyet ázsiai séfjeink tűzforró wokban a szemed láttára készítenek el.
        </p>
    </div>
</div>
<div class="menu">
    <div class="menu-header"></div>
              <div>
                  <div class="menu-card-header">
                      <img
                          class="wok"
                          src="assets/drawning.jpg"
                          alt="wok"
                      />
                      <h2 class="részlet-cím menü-cím">
                          Élvezd a legjobb kaját
                      </h2>
                      <h3 class="részlet-alcím">a Földön</h3>
                  </div>

                  <div class="two-columns-grid">
                      <div class="starters">
                          <h2>Wok ételek</h2>
                          <div class="starter">
                              <div class="starter-header">
                                  <h3>Alapok</h3>
                                  <h4 class="price">600 Ft/adag</h4>
                              </div>
                              <p class="menu-paragraph">
                                  Válasszon a tészták, rizs és más alapjaink közül egyet.
                              </p>
                              <p class="menu-paragraph">Rizstészta, Tojásos tészta, Üvegtészta,
                                Teljes kiörlésű tészta, Fehér rizs, Barna rizs,
                                Zöldség alap, Udon tészta.</p>
                          </div>

                          <div class="starter">
                              <div class="starter-header">
                                  <h3>Feltétek</h3>
                                  <h4 class="price">600 Ft/adag</h4>
                              </div>
                              <p class="menu-paragraph">
                                  Válasszon a feltétek közül, 3-4 féltétet ajánlunk.
                              </p>
                              <p class="menu-paragraph">Csirke, Sertés, Tofu, Marha, Kacsa, Rák
                                Zöldség mix, Kesudió, Kaliforniai paprika mix,
                                Fafülgomba, Csiperke gomba, Ananász, Bambuszrügy,
                                Kínai kel, Shitake gomba.</p>
                          </div>

                          <div class="starter">
                              <div class="starter-header">
                                  <h3>Szószok</h3>
                                  <h4 class="price">200 Ft/adag</h4>
                              </div>
                              <p class="menu-paragraph">
                                  Válasszon a csípős vagy édes szószaink közül.
                              </p>
                              <p class="menu-paragraph">
                                Thailand Padthai, China Édes-savanyú, Burma Green Curry,
                                Indonesia Satay, Laosz Red Curry, Japan Teriyaki, Malay Coconut Curry
                              </p>
                          </div>
                      </div>
                      <div class="mains">
                          <h2>Levesek</h2>
                          <div class="starter">
                              <div class="starter-header">
                                  <h3>Tom Yum</h3>
                                  <h4 class="price">1250 Ft/adag</h4>
                              </div>
                              <p class="menu-paragraph">
                                  Tradicionális csípős-savanyú Thai leves, a galanga és lime ízével.
                                  
                              </p>
                              <p class="menu-paragraph">
                                  Csirkés, Rákos, Zöldségegs, Extra rizzsel
                                  
                              </p>
                          </div>

                          <div class="starter">
                              <div class="starter-header">
                                  <h3>Tom Kha</h3>
                                  <h4 class="price">1250 Ft/adag</h4>
                              </div>
                              <p class="menu-paragraph">
                                  Kókusztejes Thai leves, a citromfű és kaffir líme levél ízével.
                              </p>
                              <p class="menu-paragraph">
                                Csirkés, Rákos, Zöldségegs, Extra rizzsel
                                
                            </p>
                          </div>
                          <div class="starter">
                              <div class="starter-header">
                                  <h3>Tom Tom</h3>
                                  <h4 class="price">1250 Ft/adag</h4>
                              </div>
                              <p class="menu-paragraph">
                                Erőleves Thai ízesítéssel, gyömbérrel és szójaszósszal.
                              </p>
                              <p class="menu-paragraph">
                                Marhás, Zöldséges
                              </p>
                          </div>

                      </div>
                      </div>
                      <div class="telefon">
                        <h4 class="price">Rendeljen az alábbi számon: +36xxxxxxxx</h4>
                      </div>
                  </div>
</div>




  
           


